<ul>
	<script type="text/ng-template"  id="term-check-tree-renderer.html">
		<!-- <span ng-if="(term.identifier ==='3FEF79FF-9EA2-4E3A-BEC9-2991CCDD7F3A' && isAdmin() ) || (term.identifier !='3FEF79FF-9EA2-4E3A-BEC9-2991CCDD7F3A') "> -->
		<label  ng-if="(term.identifier ==='3FEF79FF-9EA2-4E3A-BEC9-2991CCDD7F3A' && isAdmin() ) || (term.identifier !='3FEF79FF-9EA2-4E3A-BEC9-2991CCDD7F3A') ">
			<input type="checkbox" ng-model="identifiers[term.identifier]" ng-click="save()" ng-required="IsRequired()" value="{{term.identifier}}" />
				{{term.title||term.name | lstring:locale}}
		</label>
		<div class="km-select-description" ng-if="showDescription && term.description"
			style="padding: 3px 25px;"  ng-if="(term.identifier ==='3FEF79FF-9EA2-4E3A-BEC9-2991CCDD7F3A' && isAdmin() ) || (term.identifier !='3FEF79FF-9EA2-4E3A-BEC9-2991CCDD7F3A') ">
			{{term.description}}
		</div>
		<ul style="list-style:none"  ng-if="(term.identifier ==='3FEF79FF-9EA2-4E3A-BEC9-2991CCDD7F3A' && isAdmin() ) || (term.identifier !='3FEF79FF-9EA2-4E3A-BEC9-2991CCDD7F3A') ">
			<li ng:repeat="term in term.narrowerTerms" ng-include="'term-check-tree-renderer.html'"></li>
		</ul>
    <ul style="list-style:none"  ng-if="(term.identifier ==='CBD-SUBJECT-OUT+CEPA' && isAdmin() )">
        <li ng-if="isAdmin()">
          <label  >
            <input type="checkbox" ng-model="identifiers['3FEF79FF-9EA2-4E3A-BEC9-2991CCDD7F3A']" ng-click="save()" ng-required="IsRequired()" value="3FEF79FF-9EA2-4E3A-BEC9-2991CCDD7F3A" />
              Executive Secretary Featured
          </label>
        </li>
    </ul>
    <ul style="list-style:none"  ng-if="(term.identifier ==='CBD-SUBJECT-OUT+CEPA')">
        <li>
          <label>
            <input type="checkbox" ng-model="identifiers['BD8F75CA-32D4-427B-A9CE-55079989A0CC']" ng-click="save()" ng-required="IsRequired()" value="BD8F75CA-32D4-427B-A9CE-55079989A0CC" />
              Executive Secretary
          </label>
        </li>
    </ul>
    <ul style="list-style:none"  ng-if="(term.identifier ==='CBD-SUBJECT-OUT+CEPA')">
        <li ng-if="isAdmin()">
          <label>
            <input type="checkbox" ng-model="identifiers['CBD-SUBJECT-25TH-ANN']" ng-click="save()" ng-required="IsRequired()" value="CBD-SUBJECT-25TH-ANN" />
              25th Anniversary
          </label>
        </li>
    </ul>
	<!-- </span> -->
	</script>

	<li ng:repeat="term in rootTerms" ng-include="'term-check-tree-renderer.html'" ></li>
	<!-- //ng-if="(term.identifier ==='3FEF79FF-9EA2-4E3A-BEC9-2991CCDD7F3A' && isAdmin() ) || (term.identifier !='3FEF79FF-9EA2-4E3A-BEC9-2991CCDD7F3A') " -->

	<li ng-show="error">
		<div class="alert">
			{{error}}
		</div>
	</li>

	<li ng-show="__loading">
		<i class="fa fa-spinner fa-spin"></i> Loading...
	</li>

	<style>
		li > label { font-weight: normal; }
	</style>
</ul>
